.container{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 275px;
  aspect-ratio: 275px;
  box-shadow: 0 0 12px rgba(138, 138, 138, 0.4);
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.label {
  position: absolute;
  bottom: 18px;
  left: 20px;
  width: 100%;
  color: white;
  text-align: left;
  font-family: "OpenSans", sans-serif;
  font-size: 27px;
  font-weight: 600;
  text-shadow: 0 0 30px rgba(0, 0, 0, 1);
}