.backContainer {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex: 1;
  width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color:#F9F9F9;
}
.paddingContainer{
  padding-top: 35px;
  padding-left: 17.5vw;
  padding-right: 17.5vw;
  width: 100vw;
  margin-bottom: 400px;
}
.titleButtonContainer{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  height: 30px;
}
.title{
  color: #4a4a4a;
  font-size: 19px;
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  text-align: left;
}
button {
  display: flex;
  align-items: center;
  background-color: white;
  color: #4a4a4a;
  border: none;
  width: 60px;
  height: 25px;
  cursor: pointer;
  z-index: 3;
  font-family: "OpenSans", sans-serif;
  font-weight: 300;
  font-size: 12px;
}
.line{
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #AE23A9, #DC4E1B);
  margin-top: 5px;
  margin-bottom: 42px;
}
.listGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 32px;                             
  width: 100%;
}



