.background {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 95px;
  box-shadow: 0 0 20px rgba(124, 124, 124, 0.4);
  background-color: white;
  padding-left: 17.5vw;
  padding-right: 17.5vw;
  z-index: 2;
}
.optionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 65px;
}
.options {
  color: #4a4a4a;
  border: none;
  background-color: white;
  font-family: "OpenSans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.logo {
  color: #4a4a4a;
  font-size: 36px;
  font-family: "Righteous", sans-serif;
  font-weight: 290;
}
